h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: slategray;
}

.header {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.links li {
    display: inline-block;
}

img {
    max-width: 150px;
}

button {
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    color: white;
    padding: 8px 24px;
}

.notifications {
    margin-left: auto;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-image img {
    border-radius: 50%; /* Optional: Make the profile image round */
}