body {
    background-color: blanchedalmond;
}
.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

h1 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    font-size: large;
    font-weight: 900;
    text-align: center;


}

.container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 50px;
    border: 2px red solid;
}

.element {
    display: flex;
    flex-direction: column;
    border: 2px greenyellow solid;
}

img {
    max-width: fit-content;
    border: 2px black solid;
    margin: 32px;
}

.information {
    max-width: 200px;
    border: 2px blue;

}