.text {
    font-family: 'Courier New', Courier, monospace;
}

h1 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    font-size: large;
    font-weight: 900;
    text-align: center;

}

.container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 50px;
}

.element {
    display: flex;
    flex-direction: column;
}

img {
    max-width: fit-content;
    border: 2px black solid;
    margin: 32px;
}

.information {
    max-width: 200px;
}