body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

.header {
    height: 100px;
    background: #1F2937;
    color: white;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    max-height: 100px;
    gap: 30px;
}

.header img {
    max-height: 100px;
    border-radius: 50%;
   
}

.homeandlogo {
    margin-left: auto;
    font-size: 18px;
    justify-content: space-between;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 30px;
    margin:0;

}

.homeandlogo a {
    color: white;
}

.headerlinks {
    margin-left: auto;

}
.headerlinks a {
    font-size: 18px;
    color: white;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    padding: 30px;
}

.section img {
    max-width: 400px;
  align-self: center;
  padding: 30px;

}

.section a {
    text-align: center;
    color: white;
    padding: 38px;
    flex-wrap: wrap;
}

.section .text {
    color: white;
    font-size: 24px;
    padding: 50px;
    text-align: center;
}

iframe {
    padding: 30px;
}

#nearcon {
    display: flex;
    justify-content: center;
}

#nftberlin {
    display: flex;
    justify-content: center;
}

#amsterdam {
    display: flex;
    justify-content: center;
}

#berlin {
    display: flex;
    justify-content: center;
}

#lisbon {
    display: flex;
    justify-content: center;
}

#lisbon1 {
    display: flex;
    justify-content: center;
}

.footer {
    background-color:#1F2937;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 0px auto 0px 0px;
  }