body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex: 1;
}

p, img {
    flex: 1;
    margin: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
}

img {
    max-width: 20%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover;
}