body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    flex: 1;
}

p, img {
    flex: 1;
    margin: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 20%; 
    height: auto; 
    object-fit: cover;
}